// COLORS

$white: #fff;
$black: #000;
$color-primary: #3c80cf;
$color-positive: #0eb87f;
$color-negative: #d9453f;
$color-warning: #ea9005;
$color-text-dark: #2a3039;
$color-text-mid: #536171;
$color-text-light: #8091a5;
$color-text-lightest: #a9b9c0;
$color-element-darkest: #b4c3ca;
$color-element-dark: #c3cfd5;
$color-element-mid: #d3dce0;
$color-element-light: #e5ebed;
$color-element-lightest: #f7f9fa;

// BASE

$border-radius: 3px;
$font-family-base: inherit;
